body[data-read-only] {
    filter: none; /* set in base.css */
}

body[data-read-only] #main {
    filter: sepia(.8) grayscale(1);
}

header {
    background-color: #BF360C;
}

header > div.wrapper {
    display: flex;
    overflow: auto;
    max-width: 71.8rem;
    margin: 0 auto;
}

header a.back {
    padding: 0 .7rem;
    display: flex;
}

header a.back > img {
    height: 1.2rem;
    align-self: center;
    filter: invert(1);
}

header a.export {
    margin-left: 1rem;
    display: flex;
}

header a.export > img {
    height: 1.5rem;
    align-self: center;
    filter: invert(1);
}

#close-year,
#delete-year {
    margin-left: .7rem;
    margin-right: .4rem;
    height: 1.5rem;
    width: 1.5rem;
    align-self: center;
    cursor: pointer;
    filter: invert(1);
}

#close-year {
    background: url("/static/icons/unlocked.svg");
}
#close-year:hover {
    background: url("/static/icons/locked.svg");
}
#delete-year {
    background: url("/static/icons/locked.svg");
}
#delete-year:hover {
    background: url("/static/icons/delete.svg");
}

header select {
    flex: 0 0 auto;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-right: .5rem;
    padding-right: 1.1rem;
    background: linear-gradient(to top left, #BF360C 51%, transparent 51%),
                linear-gradient(to top right, transparent 51%, #ffffff 51%);
    background-size: 12px 12px;
    background-position: 100% 62%;
    background-repeat: no-repeat;
}

header select > option {
    color: black;
    background: white;
}

header ul.tabs {
    list-style: none;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    flex: auto;
}

header ul.tabs > li {
    flex: 1 auto;
    text-align: center;
    max-width: 9rem;
}

header ul.tabs > li.active {
    border-bottom: 3px solid #F9F043;
}

header ul.tabs > li > a {
    display: block;
    padding: .8rem 1rem .6rem;
    text-decoration: none;
    color: #ffffff;
}
