body {
    font-family: sans-serif;
    background: #f9fbe7;
}

select,
textarea,
button,
input {
    font-size: 1rem;
}

.toast {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40rem;
    max-width: 100%;
    margin: 1rem auto;
    padding: .3rem;
    box-sizing: border-box;
    box-shadow: 2px 3px 10px rgb(100, 100, 100);
}

.toast.error {
    color: white;
    background: #d50000;
}

.toast.info {
    background: #00bcd4;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
    background: rgba(0,0,0,.1);
}
#overlay.active {
    display: block;
}

.button.round {
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    background-color: #d23f31;
    cursor: pointer;
}
