html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background: #f9fbe7;
}

body[data-read-only] {
    filter: sepia(.8) grayscale(1);
}

header {
    color: #eee;
    background: #33691e;
    font-size: 1.8rem;
    box-shadow: 0 1px 10px rgb(100, 100, 100);
    z-index: 1;
}

@media (max-width: 45rem) {
    header {
        font-size: 1.2rem;
    }
}

header h1 {
    margin: .5rem;
    text-align: center;
    font-size: 1em;
}

header h1 a {
    color: inherit;
    text-decoration: none;
}

#main {
    flex: auto;
    overflow-y: auto;
    padding-top: .5rem;
}


select,
textarea,
button,
input {
    font-size: 1rem;
}

.box-wrapper {
    max-width: 72.8rem;
    margin: auto;
}

.box {
    display: inline-block;
    width: 35rem;
    margin: .7rem;
    padding: .5rem;
    box-sizing: border-box;
    box-shadow: 2px 3px 10px rgb(100, 100, 100);
    background: #cddc39;
}

@media (max-width: 74rem) {
    .box {
        display: block;
        max-width: 40rem;
        width: auto;
        margin: 1.4rem auto;
    }
}

.toast {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2rem;
    width: 45rem;
    max-width: 100%;
    margin: 1rem auto;
    padding: .3rem;
    box-sizing: border-box;
    box-shadow: 2px 3px 10px rgb(100, 100, 100);
}

.toast.error {
    color: white;
    background: #d50000;
}

.toast.info {
    background: #00bcd4;
}

.toast.reload {
    display: flex;
    align-items: center;
    color: white;
    background: #33691e;
}

.toast.reload > div.button {
    padding: .1rem .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
    background: rgba(0,0,0,.1);
}
#overlay.active {
    display: block;
}

#overlay .search,
#overlay .upload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    max-width: 25rem;
    margin: 4rem auto 0 auto;
    max-height: calc(100vh - 5rem);
    box-shadow: 2px 3px 10px rgb(100, 100, 100);
    background: #00bcd4;
}

.button.round {
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    background-color: #d23f31;
    cursor: pointer;
}

.button.floating-add,
li.button.add {
    background-image: url("/static/icons/add.svg");
    background-position: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.button.floating-add {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 10;
    background-size: 40%;
}

li.button.add {
    margin: 0 .3rem;
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: bottom;
}

ul.comma-separated,
ol.comma-separated {
    list-style: none;
    padding: 0;
}

ul.comma-separated > li,
ol.comma-separated > li {
    display: inline-block;
}

ul.comma-separated > li::after,
ol.comma-separated > li::after {
    content: ', ';
}

ul.comma-separated > li:last-of-type::after,
ol.comma-separated > li:last-of-type::after {
    content: '';
}

ul.comma-separated > li.hide-comma::after,
ol.comma-separated > li.hide-comma::after {
    content: '';
}

.version {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: .7rem;
    margin: .2rem .4rem;
}

.group.disqualified {
    filter: sepia(.8) grayscale(1);
}

.group h2 {
    margin: 0;
}

.group h2 img {
    height: 1rem;
}

.group select {
    float: right;
    margin-top: .2rem;
    padding: .2rem 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    text-align: center;
}

.group ul.students li:not(.add):hover {
    text-decoration: line-through;
    cursor: pointer;
    color: #666666;
}

.group ul.students li[data-instructed="false"] {
    color: #666666;
    font-style: italic;
}
.group ul.students li[data-instructed="false"]:before {
    content: "❗ ";
    font-weight: bold;
}

.group .task {
    display: inline-flex;
    flex-direction: column;
}

.group .task label {
    text-align: center;
}

.group .task input[type=checkbox] {
    margin: 0;
    min-width: 2rem;
    min-height: 2rem;
}

.group .comment {
    display: flex;
    margin-top: .5rem;
}

.group .comment textarea {
    flex: 1;
    resize: none;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.group .comment .buttons {
    display: flex;
    flex-direction: column;
}

.group .comment .buttons button {
    flex: 1 0;
    padding: .4rem .6rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.group .comment.unsaved button.save {
    font-weight: bold;
}

nav.analysis {
    display: flex;
    flex-flow: row wrap;
    width: 100%; /* seems to be necessary when margin: auto in flexbox */
    max-width: 41.6rem;
    margin: .2rem auto 0;
}

nav.analysis a {
    flex: auto;
    text-decoration: none;
    padding: .3rem .5rem;
    margin: .3rem;
    background: #33691e;
    color: #ffffff;
    box-shadow: 1px 1px 3px -1px black;
}

.search {
    display: flex;
    flex-direction: column;
    padding: .7rem;
}

.search > input {
    flex: 0 0 auto;
    border: none;
    padding: .4rem .6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.search > ul {
    flex: 0 1 auto;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.search > ul > li {
    padding: .6rem;
    cursor: pointer;
    border-left: 1px solid transparent;
}

.search > ul > li:first-of-type {
    margin-top: .7rem;
}

.search > ul > li.selected {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.search > ul > li > a {
    display: block;
    color: inherit;
    text-decoration: none;
}
