h1 {
    text-align: center;
}

.group {
    max-width: 30rem;
    margin: .5rem auto 1.5rem auto;
    padding: .5rem;
    box-shadow: 2px 3px 10px rgb(100, 100, 100);
    background: #cddc39;
}

.group h2 {
    margin: 0;
}

.group select {
    float: right;
    margin-top: .2rem;
    padding: .2rem 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    text-align: center;
}

ul.students {
    list-style: none;
    padding: 0;
}
ul.students li {
    display: inline-block;
}
ul.students li:after {
    content: ', ';
}
ul.students li:last-of-type:after {
    content: '';
}

.task {
    display: inline-flex;
    flex-direction: column;
}

.task label {
    text-align: center;
}

.task input[type=checkbox] {
    margin: 0;
    min-width: 2rem;
    min-height: 2rem;
}

.comment {
    display: flex;
    margin-top: .5rem;
}

.comment textarea {
    flex: 1;
    resize: none;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    sborder-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.comment .buttons {
    display: flex;
    flex-direction: column;
}

.comment .buttons button {
    flex: 1 0;
    padding: .4rem .6rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.comment.unsaved button.save {
    font-weight: bold;
}
