.search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    max-width: 25rem;
    margin: 4rem auto 0 auto;
    max-height: calc(100vh - 5rem);
    box-shadow: 2px 3px 10px rgb(100, 100, 100);
    background: #00bcd4;
}

#add-group {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
    z-index: 10;
}

header > div.limit-width {
    max-width: 72rem;
    margin: auto;
    display: flex;
}

header h1 {
    flex: auto;
}

header a {
    flex: none;
    padding: .5rem 1rem;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
}

header a[href="/"] {
    visibility: hidden;
}

.experiment {
    padding-bottom: 3rem;
}

.group h2 a:first-of-type {
    text-decoration: none;
    color: inherit;
}
.group h2 a:first-of-type:hover {
    text-decoration: underline;
}
