.search {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    max-width: 25rem;
    margin: 4rem auto 0 auto;
    max-height: calc(100vh - 5rem);
    padding: .7rem;
    box-shadow: 2px 3px 10px rgb(100, 100, 100);
    background: #00bcd4;
}

.search > input {
    flex: 0 0 auto;
    border: none;
    padding: .4rem .6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.search > ul {
    flex: 0 1 auto;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.search > ul > li {
    padding: .6rem;
    cursor: pointer;
    border-left: 1px solid transparent;
}

.search > ul > li:first-of-type {
    margin-top: .7rem;
}

.search > ul > li.selected {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#add-group {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

h1 {
    text-align: center;
}

body {
    padding-bottom: 3rem;
}

.experiment {
    max-width: 72.8rem;
    margin: auto;
}

.group {
    display: inline-block;
    width: 35rem;
    margin: .7rem;
    padding: .5rem;
    box-sizing: border-box;
    box-shadow: 2px 3px 10px rgb(100, 100, 100);
    background: #cddc39;
}

@media (max-width: 74rem) {
    body {
        margin: 0;
    }

    .group {
        display: block;
        max-width: 40rem;
        width: auto;
        margin: 1.4rem auto;
    }
}

.group h2 {
    margin: 0;
}

.group h2 img {
    height: 1rem;
}

.group select {
    float: right;
    margin-top: .2rem;
    padding: .2rem 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    text-align: center;
}

ul.students {
    list-style: none;
    padding: 0;
}
ul.students li {
    display: inline-block;
}
ul.students li:not(.add):after {
    content: ', ';
}
ul.students li:not(.add):last-of-type:after {
    content: '';
}

ul.students li:not(.add):hover {
    text-decoration: line-through;
    cursor: pointer;
    color: #666666;
}

ul.students li.add.button {
    margin: 0 .3rem;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    vertical-align: bottom;
}


.task {
    display: inline-flex;
    flex-direction: column;
}

.task label {
    text-align: center;
}

.task input[type=checkbox] {
    margin: 0;
    min-width: 2rem;
    min-height: 2rem;
}

.comment {
    display: flex;
    margin-top: .5rem;
}

.comment textarea {
    flex: 1;
    resize: none;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    sborder-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.comment .buttons {
    display: flex;
    flex-direction: column;
}

.comment .buttons button {
    flex: 1 0;
    padding: .4rem .6rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.comment.unsaved button.save {
    font-weight: bold;
}
