#group {
    display: block;
    max-width: 40rem;
    margin: .7rem auto;
}

#group .students {
    margin-top: .4rem;
}

#group textarea {
    height: 7rem;
}

.group h2 {
    margin-bottom: .5rem;
}
