nav.years {
    max-width: 30rem;
    width: 100%;
    margin: .7rem auto 0;
}

nav.years a {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: .3rem .5rem;
    margin: .6rem .3rem;
    background: #33691e;
    color: #ffffff;
    box-shadow: 1px 1px 3px -1px black;
}

nav.years a[data-read-only] {
    filter: sepia(.8) grayscale(1);
}

nav.years a:first-of-type {
    margin-bottom: 1.5rem;
}
