{% extends "admin-base" %}

{% block head %}
    {{super()}}
{% endblock head %}

{% block title %}Termine {{super()}}{% endblock title %}

{% block main %}
    <div class="box-wrapper">
        <div>TODO</div>
    </div>
{% endblock main %}
